<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Details</title>
</head>
<body>
    <div class="club"><%= request.clubName %></div>
    <img src="<%= request.imagePath1 %>" alt="Product Image" style="width: 150px"><br>
    <img src="<%= request.imagePath2 %>" alt="Receipt Image" style="width: 150px"><br>
    <!-- <button>Approve</button> -->
    <!-- <a href="" class="approve" data-doc="<%= request._id %>"></a> -->
    <a href="" class="delete" data-doc="<%= request._id %>" style="margin-top: 30px; font-size: 20px">Decline</a>

<script>
    const trashcan= document.querySelector('a.delete');

    trashcan.addEventListener('click', (e) => {
        const endpoint = `/techSecy/requests/${trashcan.dataset.doc}`;

        fetch(endpoint, {
            method: 'DELETE'
        })
        .then((response) => response.json())
        .then((data) => window.location.href = data.redirect)
        .catch(err => console.log(err));
    })
</script>
    
</body>
</html>
